@import "tailwindcss";

@theme {
  --color-primary: #7F77DD;
  --color-success: #1D9E75;
  --color-work: #378ADD;
  --color-warning: #D85A30;
  --color-energy: #D4537E;
  
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a; /* slate-900 */
    --card: #ffffff;
    --card-foreground: #0f172a;
    --border: #f1f5f9; /* slate-100 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0f172a; /* slate-900 */
      --foreground: #f8fafc; /* slate-50 */
      --card: #1e293b; /* slate-800 */
      --card-foreground: #f8fafc;
      --border: #1e293b; /* slate-800 */
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Utilities for Hide Scrollbar if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
